@import "tailwindcss";

.greenBg{
  background: #00672E;
  clip-path: polygon(
    59.63% 0%,
    24.53% 5.34%,
    0% 24.31%,
    8.39% 96.5%,
    55.28% 99.82%,
    99.69% 77.16%,
    99.69% 15.65%
  );
}

.stickyBase { position: sticky; top: 0; }
.shapeZLow { z-index: -2; }
.shapeZHigh { z-index: 2; }
.centerAbs { left: 0; right: 0; margin: auto; }


body.home-page .home-page-show-vector {
  display: flex !important;
}

body.contact-page .contact-page-hide-vector {
  display: none !important;
}